@import url('reset.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1b3e67;
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(325deg,
  #03001e 0%,
  #7303c0 30%,
  #3c3677 70%,
  #6353ea 100%
  );
  border-radius: 5px;
  padding: 40px 60px;
}

h2 {
  font-size: 2.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 20px;
  text-transform: uppercase;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-weight: 600;
}

.reset:focus {
  color: #fff;
  background-color: #262809;
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserce-3d;
  perspective: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
  cursor: pointer;
}

.item:hover {
box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #404040;
  /* opacity: 0.85; */
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}
